# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv_new/
env/

# Credentials & tokens
credentials.json
token.json
.env
.secrets
# VSCode / IDE
.vscode/
.idea/

# Logs
*.log


Thumbs.db
